ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: "nginx"
  hosts:
    - host: olake.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

service:
  type: NodePort
  port: 8000

resources: {}
